[Unit]
Description=GitBucket Service
After=syslog.target
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/gitbucket
PIDFile={{ GITBUCKET_PID_FILE }}
ExecStart=/usr/bin/java \
  $GITBUCKET_JVM_OPTS \
  -jar $GITBUCKET_WAR_FILE \
  --port={{ GITBUCKET_PORT }} \
  --gitbucket.home={{ GITBUCKET_HOME }} \
  --validate_password=false \
  >> $GITBUCKET_LOG_FILE 2>&1
User={{ GITBUCKET_USER }}
Group={{ GITBUCKET_USER }}

[Install]
WantedBy=multi-user.target
