# host_vars/localhost.yml - Host specific variables
---
SYSTEM_LOCALE:        ja
# Your Terminal's IP Address for Remote Debugging
XDEBUG_REMOTE_HOST:   192.168.56.1
# application key to be used in remote debugging
XDEBUG_IDEKEY:        netbeans-xdebug
# additional PHP repository - webtatic71 / remi72
PHP_REPO:             remi72
# Basic stuff
TIME_ZONE:            Asia/Tokyo
# whether you'd like to localize php and laravel environment into Japanese 
PHP_JAPANIZE:         true
# Laravel stuff
LARAVEL_LOCALE:       ja
# if true then we will translate source comments into Japanese
LARAVEL_APPLY_COMJA5: true
# FQDN to serve this service
LARAVEL_SERVER_NAME:  laravel.local
# DB engine - one of pgsql / mariadb / sqlite
LARAVEL_DB_CONNECTION: pgsql
LARAVEL_DB_HOST:      localhost
LARAVEL_DB_DATABASE:  laravel
LARAVEL_DB_USERNAME:  "{{ ansible_user_id }}"
LARAVEL_DB_PASSWORD:
LARAVEL_TRANSLATE_COMMENTS_INTO_JAPANESE: true
# WordPress staff 
WP_DB_NAME:           wp
WP_DB_USER:           wp
WP_DB_PASSWORD:
WP_DB_HOST:           localhost
WP_HOME:              "{{ WWW_BASE }}/wordpress"
WP_SERVER_NAME:       wordpress.local
WP_SITEURL:           http://{{ WP_SERVER_NAME }}
WP_TITLE:             WordPress Default Site
WP_ADMIN_USER:        wp-admin
WP_ADMINPASS:         _adm1np@ss
WP_ADMIN_EMAIL:       admin@example.com
WP_FORCE_REINSTALL:   false
WP_REMOVE_PREVIOUS_DB:  false
WP_POST_MAX_SIZE:     10m
# GitBucket
GITBUCKET_VERSION:    4.22.0
GITBUCKET_WAR_DIR:    /opt/gitbucket/lib
GITBUCKET_WAR_FILE:   "{{ GITBUCKET_WAR_DIR }}/gitbucket.war"
GITBICKET_LOG_DIR:    /var/log/gitbucket
GITBUCKET_HOME:       /var/lib/gitbucket
GITBUCKET_PORT:       8888
GITBUCKET_USER:       gitbucket
GITBUCKET_LOG_FILE:   "{{ GITBICKET_LOG_DIR }}/run.log"
GITBUCKET_PID_FILE:   /var/run/gitbucket.pid
