# host_vars/localhost.yml - Host specific variables
---
# timezone in OS level
TIME_ZONE: Asia/Tokyo
# whether you'd like to localize php and laravel environment into Japanese 
PHP_JAPANIZE: true
# locale value in laravel
LARAVEL_LOCALE: ja
# if true then we will translate source comments into Japanese
LARAVEL_APPLY_COMJA5: true
# FQDN to serve this service
LARAVEL_SERVER_NAME: laravel.local
# IP address of this host
LARAVEL_IP_ADDRESS: 192.168.56.2
# Your Terminal's IP Address for Remote Debugging
XDEBUG_REMOTE_HOST: 192.168.56.1
# application key to be used in remote debugging
XDEBUG_IDEKEY: netbeans-xdebug
# DB engine - one of pgsql / mariadb / sqlite
LARAVEL_DB_CONNECTION: pgsql
# WordPress staff - default values will be inherited from group_vars/all
WP_DB_NAME:     "{{ WP_DB_NAME }}"
WP_DB_USER:     "{{ WP_DB_USER }}"
WP_DB_PASSWORD: "{{ WP_DB_PASSWORD }}"
WP_DB_HOST:     "{{ WP_DB_HOST }}"
WP_HOME:        "{{ WP_HOME }}"
WP_SERVER_NAME: "{{ WP_SERVER_NAME }}"
WP_SITEURL:     http://{{ WP_SERVER_NAME }}
WP_TITLE:       "{{ WP_TITLE }}"
WP_ADMIN_USER:  "{{ WP_ADMIN_USER }}"
WP_ADMINPASS:   "{{ WP_ADMINPASS }}"
WP_ADMIN_EMAIL: "{{ WP_ADMIN_EMAIL }}"

