# host_vars/localhost.yml - Host specific variables
---
TIME_ZONE: Asia/Tokyo
PHP_JAPANIZE: true
LARAVEL_LOCALE: ja
LARAVEL_APPLY_COMJA5: (true then translate source comments into Japanese)
LARAVEL_SERVER_NAME: (FQDN to serve this service)
LARAVEL_IP_ADDRESS: (Server IP Address)
XDEBUG_REMOTE_HOST: (Your Client IP Address - for Remote Debugging)
XDEBUG_IDEKEY: netbeans-xdebug
DB_CONNECTION: (SELECT one of pgsql/mysql/sqlite)
