---
- name: roles/php/tasks/main.yml
  command: echo

- name: Install PHP dependencies from remi
  yum:
    enablerepo: remi,remi-php72
    name: "{{ item }}"
  with_items:
    - "{{ PHP_PKG_PREFIX }}"
    - "{{ PHP_PKG_PREFIX }}-mbstring"
    - "{{ PHP_PKG_PREFIX }}-cli"
    - "{{ PHP_PKG_PREFIX }}-xml"
    - "{{ PHP_PKG_PREFIX }}-pdo"
    - "{{ PHP_PKG_PREFIX }}-pgsql"
    - "{{ PHP_PKG_PREFIX }}-pecl-zip"
  become: yes
  when: PHP_REPO == "remi72"

- name: Install PHP dependencies from webtatic
  yum:
    enablerepo: "{{ PHP_REPO }}"
    name: "{{ item }}"
  with_items:
    - "{{ PHP_PKG_PREFIX }}"
    - "{{ PHP_PKG_PREFIX }}-mbstring"
    - "{{ PHP_PKG_PREFIX }}-cli"
    - "{{ PHP_PKG_PREFIX }}-xml"
    - "{{ PHP_PKG_PREFIX }}-pdo"
    - "{{ PHP_PKG_PREFIX }}-pgsql"
    - "{{ PHP_PKG_PREFIX }}-pecl-zip"
  become: yes
  when: PHP_REPO == "webtatic71"

- name: php.ini - date.timezone
  lineinfile:
    dest:         "{{ PHP_INI_DIR }}/php.ini"
    regexp:       "^;date.timezone ="
    line:         "date.timezone = {{ TIME_ZONE }}"
  become: yes
  when:           PHP_JAPANIZE == true

- name: php.ini - mbstring.language
  lineinfile:
    dest:         "{{ PHP_INI_DIR }}/php.ini"
    regexp:       "^;mbstring.language = Japanese"
    line:         "mbstring.language = Japanese"
  become: yes
  when:           PHP_JAPANIZE == true

- name: Reset owner for WWW_BASE
  file:
    path: "{{ WWW_BASE }}"
    state:    directory
    owner:    "{{ ansible_user_id }}"
  become: yes
